.controls {
    padding: 10px;
    width: 240px;
}

.controls select {
    margin-bottom: 10px;
    width: 100%;
}

.controls button {
    margin: 0 15px 10px 0;
}

.controls button:last-child {
    margin-right: 0;
}