.debug-panel {
    background: #c0c0c0;
    border-radius: 6px;
    box-shadow: inset -1px 1px 2px rgba(0, 0, 0, 0.5),
        -1px 1px 2px rgba(255, 255, 255, 1);
    float: right;
    padding: 0 15px 15px 15px;
    width: calc(100% - 260px);
}

.debug-panel h1 {
    font-size: 20px;
    margin: 15px 0;
}

.debug-panel h2 {
    font-size: 16px;
    margin: 15px 0;
}

.debug-panel h3 {
    font-size: 14px;
    margin: 5px 0;
}

.debug-panel__section {
    border-bottom: 1px solid #888888;
    padding-bottom: 15px;
}

.debug-panel__section:last-child {
    border-bottom: none;
}

.debug-panel__register {
    display: inline-block;
    width: 49%;
}

.debug-panel__gpu-flag span {
    display: inline-block;
    width: 49%;
}