.player {
    background: #c0c0c0;
    border-radius: 6px;
    border-bottom-right-radius: 30px;
    box-shadow: inset -1px 1px 2px rgba(0, 0, 0, 0.5),
        -1px 1px 2px rgba(255, 255, 255, 1);
    height: 200px;
    margin-bottom: 10px;
    width: 240px;
}

.player canvas {
    height: 144px;
    margin: 20px 40px 0px 40px;
    width: 160px;
}

.player h1 {
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    margin: 5px 40px;
}