* {
    box-sizing: border-box;
}

body {
    background: #eeeeee;
    color: #333333;
    font-family: "Fira Sans", sans-serif;
    margin: 20px;
}

canvas {
    box-shadow: 0 0 1px 1px #999999;
}

button {
    background: #999999;
    border: none;
    border-radius: 20px;
    box-shadow: inset 1px 1px 5px rgba(255, 255, 255, 0.5),
        inset -1px -1px 5px rgba(0, 0, 0, 0.5),
        0 0 1px 1px #000000;
    color: #ffffff;
    cursor: pointer;
    padding: 4px 12px;
    text-shadow: 1px 1px #333333;
}

button:active {
    background: #666666;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5),
        inset -1px -1px 5px rgba(255, 255, 255, 0.5),
        0 0 1px 1px #000000;
}

button:disabled {
    background: #666666;
    box-shadow: 0 0 1px 1px #000000;
}

label {
    display: block;
    margin-bottom: 10px;
}